# Ignore all .idea/ files except the following:
.idea/*
!.idea/misc.xml
!.idea/modules.xml
!.idea/inspectionProfiles
!.idea/vcs.xml

# Ignore user-specific workspace settings
.idea/workspace.xml

# all pdfs
*.pdf

test.py
test_server.py
wandb/*
runs/*
logs/*

# drqv2
mujoco/drqv2/exp_local
mujoco/drqv2/exp
mujoco/drqv2/exp_fixed
mujoco/drqv2/exp_hard
mujoco/drqv2/nbs
mujoco/drqv2/code_snapshots
mujoco/drqv2/exp_drqv2_*.py
mujoco/drqv2/dmc_benchmarks.py
mujoco/drqv2/check_sweep.py
mujoco/drqv2/cancel_sweep.py